[Unit]
Description=Network TTY
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
# start with -D2 for debugging
ExecStart=/usr/bin/ttynvt -f -E -M 199 -m 6 -n tty_io_ctrl -S 192.168.200.1:10000

Restart=on-abort

[Install]
WantedBy=multi-user.target
