[Unit]
Description=Edgefarm Static Device Info Service
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/dlm-devinfo-static
Restart=on-abort

[Install]
WantedBy=multi-user.target
