[Unit]
Description=Network TTY
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/exec-ttynvt /usr/bin/ttynvt 199

Restart=on-abort

[Install]
WantedBy=multi-user.target
