[Unit]
Description=Redirects journald output to /data
Requires=data.mount
After=data.mount

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/persistent-journald.sh

[Install]
WantedBy=multi-user.target
