[Unit]
Description=Network TTY
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ttynvt-runner /usr/bin/ttynvt -m 199

Restart=on-abort

[Install]
WantedBy=multi-user.target
