[Unit]
Description=Network TTY
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ttynvt-runner -m 199 /usr/bin/ttynvt

Restart=on-abort

[Install]
WantedBy=multi-user.target
