[Unit]
Description=Set WiFi antenna configuration
After=sys-subsystem-net-devices-mlan0.device
After=sys-subsystem-net-devices-uap0.device
Before=access-point.service

[Service]
Type=oneshot
EnvironmentFile=/etc/set_antenna_config
ExecStart=/usr/sbin/iw phy phy0 set antenna $ANTENNA_CONFIG_TX $ANTENNA_CONFIG_RX
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

