[Unit]
Description=Set WiFi antenna configuration
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/set_antenna_config
ExecStart=/usr/sbin/iw phy phy0 set antenna $ANTENNA_CONFIG_TX $ANTENNA_CONFIG_RX
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

